<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="../static/css/styles.css">
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="">Wannapop</a>
    <ul>
      {% if g.user %}
        <span>{{ g.user['username'] }}</span>
        <a class="btn btn-primary" href="{{ url_for('auth_bp.init') }}">Log Out</a>
      {% else %}
        <a class="btn btn-primary" href="{{ url_for('auth_bp.register') }}">Register</a>
        <a class="btn btn-primary" href="{{ url_for('auth_bp.login') }}">Log In</a>
      {% endif %}
    </ul>
  </div>
</nav>
<section>
  <header class="masthead">
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}
  <section class="features-icons bg-light text-center">
    <div class="container"> 
      <div class="mx-auto">
        <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
          <h3>Problemes, suggeriments?</h3>
          <p class="lead mb-0">Ves al nostre <a href="#">formulari de contacte</a>.</p>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}
</section>

<script src="../static/scripts.js"></script>

